body{
  background-color: lightgray;
  font-family: 'Tahoma, Geneva', sans-serif;
}

#page-title{
  font-size:40px;
  text-align:center;
}

#contact-information{
  font-size:12px;
  text-align: center;
  wordflow-wrap: break-word;
}

img{
  height:150px;
  width: auto;
  border-style: double; 
  border-color: black;
  float:right;
}
  
.header{
  overflow:auto;
  }
  
h1{
  text-align:left;    
}

.Work-Experience{
  text-decoration: underline;
}

.job-title{
  padding-left:20px;
}

.dates{ 
  font-size:15px;
  padding-left:20px;
}

ul{
   list-style-type: square;
}


  
  
